*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    height: 100vh;
    width: 100%;
    background-image: url(../img/i1.jpg);
    border: solid 0px  rgb(22, 160, 40);
    background-size: cover;
}
.gallery{
    height: 100vh;
    width: 100%;
}

.text1{
    font-size: 20px;
    padding-top: 50px;
    text-align: center;
}
.text-cont{
    width: 40%;
    margin: 50vh 0 0 30%;
}
.text-THE{
    font-size: 20px;
    color: rgb(153, 151, 151);
}
.text-DEEP{
    font-size: 50px;
    color: white;
}
.text-111{
    font-size: 18px;
    color: white;
}
.sq{
 
    width: 100%;
   background-color: rgb(204, 4, 4);
  
   display: flex;
   justify-content: space-between;
  
}
.sa{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}
.img-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

 .img3{

    height: 10%;
    width: 100%;
}
 
 .wer{
    width: 37%;
    height: 60%;

   
    
    
 }
.img2{
    margin-bottom: 3%;
    width: 100%;
   
}
.gallery-container{
    width: 60%;
    margin: auto;
    margin-top: 10%;
    display: flex;
    
}   
.g-h{
    font-size: 65px;
    margin: 5%;
}
.g-p{
    font-size: 25px;
    color: #000;
}
.as{
    width: 80%;
}
.container-second{
    display: flex;
    justify-content: center;
    align-items: center;
}


































.container-third{
   background-image: url(../img/i5.jpg);
   height: 50vh;
   width: 100%;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10%;

}
.st-container{
    width: 40%;
   

}

.st-hd{
    font-size: 30px;
    color: rgb(253, 253, 253);
    border: solid ;
    width: 26%;
    margin: auto;
}
.st-xt{
    font-size: 19px;
    color: white;
}













































